<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name-"viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>

		<link rel="stylesheet" href="/static/css/header.css">
		<link rel="stylesheet" href="/static/css/general.css">
		<link rel="stylesheet" href="/static/css/sidebar.css">
		<link rel="stylesheet" href="/static/css/posts.css">
		<link rel="stylesheet" href="/static/css/dialogs.css">

	</head>
	<body>

		<!-- HEADER -->
		<div class="header">
			<div class="left-section">
				<a href="{{ url_for('home') }}"><b>HOME</b></a>
			</div>
			<div class="middle-section">
				<input class="search-bar" type="text" placeholder="Search">
			</div>
			<div class="right-section">
				<span></span>
				<button id="create-user-open" class="sign-in-button" type="button">
					<span>Create User</span>
				</button>
				<span></span>
			</div>
		</div>

		<!-- SIDEBAR -->
		<nav class="sidebar">
			<div class="sidebar-link">
				<img src="/static/icons/ink_pen_dark.svg">
				<div>Post</div>
			</div>
			<div class="sidebar-link">
				<img src="/static/icons/folder_dark.svg">
				<div>Folders</div>
			</div>
			<div class="sidebar-link">
				<img src="/static/icons/calendar_month_dark.svg">
				<div>Calendar</div>
			</div>
			<div class="sidebar-link">
				<img src="/static/icons/account_circle_dark.svg">
				<div>You</div>
			</div>
		</nav>

		<!-- CONTENT -->
		<main>
		{% block content %}
		{% endblock content %}
		</main>

		<dialog id="create-user">
			<form id="create-user-form" method="POST" action="/create_user">
				<input name="username" type="text" placeholder="Username">
				<button type="submit">
					Create User
				</button>
				<button id="create-user-cancel" type="button">
					Cancel
				</button>
				<p id="create-user-message"></p>
			</form>
		</dialog>

		<script src="/static/js/create_user.js"></script>
	</body>
</html>
